@media only screen and (max-width: 1024px) {
  .lr {
    display: flex;
    justify-content: end;
  }
  .l {
    margin-right: 10px;
    font-size: 13px;
  }
  .r {
    margin-left: 10px;
    font-size: 13px;
  }
}

.lr {
  background-color: #208f89;
  padding: 5px 5px;
}
.l,
.r {
  color: #ffff;
}
.l:hover {
  font-weight: 700;
  color: #ffff;
}
.r:hover {
  font-weight: 700;
  color: #ffff;
}
