.form input {
    border: 1px solid black;
    flex: 4;
    width: 80%;
    border-radius: 10px;
    height: 30px;
  }
  .form label {
    flex: 1;
  }
  .form div {
    display: flex;
    margin: 10px 0px;
  }
  .form{
      padding: 20px;
  }